<div class="component">

    <!-- Label -->
    <span class="label">{{ label }}</span>

    <!-- Image -->
    <div class="input-container" ref="inputContainer">

        <!-- Icon -->
        <div class="icon">
            <svg version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="m165.2 22.402v515.2h369.6v-16.801-399c-34.379-34.379-69.875-69.875-99.398-99.398h-253.4zm33.602 33.602h212.8v89.602h89.602v358.4h-302.4zm246.4 23.625 32.375 32.375h-32.375z"/>
            </svg>
        </div>

        <!-- File name -->
        <div class="file-name" ref="fileName"></div>

        <!-- File input -->
        <input type="file" ref="fileInput" class="file-input" />

    </div>

</div>
