.component {
    display: grid;

    grid-template-columns: var(--label-width) calc(100% - var(--label-width));
    align-items: center;
}

.label {
    overflow: hidden;

    padding: var(--label-padding);

    font-size: var(--label-font-size);
    font-weight: var(--label-font-weight);
    color: var(--label-color);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input-container {
    display: grid;
    position: relative;

    grid-template-columns: 45px calc(100% - 50px);
    align-items: center;

    height: var(--input-height);
    overflow: hidden;

    padding: 0 var(--input-padding) 0 5px;

    font-family: var(--font);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);

    background-color: var(--input-background-color);

    border-radius: var(--input-border-radius);

    transition: var(--input-background-color-transition);
}

.input-container:hover {
    background-color: var(--input-background-color-hover);
}

.component.error .input-container {
    background-color: var(--input-background-color-error);
}

.color {
    width: 30px;
    height: 30px;

    margin: 0;
    padding: 0;

    background: transparent;

    border: 0;
    outline: 0;

    appearance: none;
    cursor: pointer;
}

.color::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color::-webkit-color-swatch {
    border: none;
    border-radius: 7px;
}

.color-string {
    background: transparent;

    border: 0;
    outline: 0;

    color: var(--input-text-color);
}

/* .alpha {
    color: var(--input-text-color);
    text-align: right;
} */
