<div class="component">
    
    <!-- Label -->
    <span class="label">{{ label }}</span>

    <!-- Input container  -->
    <div class="input-container">

        <!-- Arrow -->
        <svg width="11" height="6" viewBox="0 0 11 6" class="arrow">
            <path d="M1 1L4.83564 4.40945C5.21452 4.74624 5.78548 4.74624 6.16436 4.40945L10 1" stroke="white" fill="transparent" stroke-opacity="0.74" stroke-linecap="round"/>
        </svg>
        
        <!-- Select -->
        <select class="select" ref="select"></select>

    </div>

</div>